<div class="box">
  <!-- nav links -->
  <h2 class="mt-5">My account</h2>
  <ul class="nav nav-tabs nav-tabs-light nav-fill mt-5">
    <li class="nav-item" *ngIf="url == '1';else m1">
      <a class="nav-link aa">Activities</a>
    </li>
    <ng-template #m1>
      <li class="nav-item">
        <a (click)="url = '1'" class="nav-link inactive">Activities</a>
      </li>
    </ng-template>

    <li class="nav-item" *ngIf="url == '2';else m2">
      <a class="nav-link aa">My personnals informations</a>
    </li>
    <ng-template #m2>
      <li class="nav-item">
        <a (click)="url = '2'" class="nav-link inactive">My personnals informations</a>
      </li>
    </ng-template>

    <li class="nav-item" *ngIf="url == '3';else m3">
      <a class="nav-link aa">Change password</a>
    </li>
    <ng-template #m3>
      <li class="nav-item">
        <a (click)="url = '3'" class="nav-link inactive">Change password</a>
      </li>
    </ng-template>
  </ul>


  <!-- main 1 -->
  <div class="box1 pt-5 pb-4" *ngIf="url == '1'">
    <div style="width: 100%; display: flex;">
      <div style="width: 33.3%;">
          <label class="text1">Personal Nodes</label>
          <h1 class="text2">{{i}}</h1>
      </div>
      <div style="width: 33.3%;">
          <label class="text1">Active Nodes</label>
          <h1 class="text2">{{j}}</h1>
      </div>
      <div style="width: 33.3%;">
          <label class="text1">Inactive Nodes</label>
          <h1 class="text2">{{k}}</h1>
      </div>
    </div>
  </div>

  <!-- main 2 -->
  <div class="box1 pt-5 pb-4" *ngIf="url == '2'">
    <div style="width: 100%; display: flex;">
      <div style="width: 50%;">
        <app-edit-profile></app-edit-profile>
      </div>
    </div>
  </div>

  <!-- main 3 -->
  <div class="box1 pt-5 pb-4" *ngIf="url == '3'">
    <div style="width: 100%; display: flex;">
      <div style="width: 50%;">

        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert" *ngIf="currDiv == 'nice'">
          <span class="alert-icon"><span class="visually-hidden">Failed</span></span>
          <p>{{alert}}</p>
        </div>

        <form #userForm="ngForm" (ngSubmit)="editpass('nice',user)" class="bf">

                <label for="form-control-5" class="form-label is-required">Old Password</label>
                <input class="form-control" type="password" id="form-control-2"
                [(ngModel)]="user.password" name="password"
                #password="ngModel" required minlength="3">
                <div  style="color: red" *ngIf="password.invalid && password.touched">
                    3 chars min
                </div>

              <div class="mt-3">
                <label for="form-control-5" class="form-label is-required">New Password</label>
                <input class="form-control" type="password" id="form-control-3"
                [(ngModel)]="user.newpass" name="newpass"
                #newpass="ngModel" required minlength="3">
                <div  style="color: red" *ngIf="newpass.invalid && newpass.touched">
                    3 chars min
                </div>
              </div>

                <div>
                  <button type="submit" class="btn btn-primary mt-4" style="width: 100%;" 
                  [disabled]="!userForm.valid" >Edit Password</button>
                </div>          
        </form>

      </div>
    </div>
  </div>

</div>