<!-- Main -->
<div class="d-flex align-items-center mb-3 mt-5" style="margin-left: 15%;">
    <i class="fa fa-user" style="width:20px; color: #ff7900;" ></i>
    <h3 class="custom-h3-mobile mb-0" style="color: #ff7900;">Account</h3>
</div>
<div class="container" style="display: flex; width: 20%;margin-left: 80%;">
        <button type="button" class="editbtn" data-bs-toggle="modal" data-bs-target="#editModal" >Edit Profile</button>
        <!-- <button type="button" class="deletebtn" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Profile</button> -->
</div>

<div class="main container">
    <!-- Informations box -->
    <h2>Informations</h2>
    <div class="card">
        <div class="card-body">
            <i class="fa fa-pen fa-xs edit"></i>
            <table>
                <tbody>
                    <tr>
                        <td>UserName</td>
                        <td>:</td>
                        <td>{{user.username}}</td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>:</td>
                        <td>{{user.firstname}}</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>:</td>
                        <td>{{user.lastname}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td>{{user.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Activities box -->
    <h2>Activities</h2>
    <div class="card" style="margin-bottom: 50px;" >
        <div class="card-body">
            <div style="width: 100%; display: flex;">
                <div style="width: 35%;">
                    <div style="margin-bottom: 10px;">Personal Nodes :</div>
                    <div class="numberCircle">2</div>
                </div>
                <div style="width: 35%;">
                    <div style="margin-bottom: 10px;">Posted Discossions :</div>
                    <div class="numberCircle">5</div>
                </div>
                <div style="width: 35%;">
                    <div style="margin-bottom: 10px;">Posted Repley :</div>
                    <div class="numberCircle">30</div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- End -->


  <!-- Edit Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Edit your profile</h5> 
          <button type="button" class="btn-close" data-bs-dismiss="modal"><span class="visually-hidden">Close</span></button>
        </div>
        
        <app-edit-profile></app-edit-profile>

      </div>
    </div>
  </div>



  <!-- Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"><span class="visually-hidden">Close</span></button>
        </div>
        <div class="modal-body">
          Are you sure you want delete your profile ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Delete</button>
        </div>
      </div>
    </div>
  </div>