#iotMap {
    margin-top: 1px;
    width: 100%;
    height: 81vh;
  }

  .btn{
    margin-left: 5%;
    width: 90%;
    height: 40px;
    color:white;
  }

  .btn:active{
    color:black;
  }

  label{
    font-weight: bold;
    margin-left:20px
  }

/* sidebar css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #FAFAFA;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 16%;
  height: 100%;
  min-width: 150px;
  background: #f6f6f6;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar .text{
  color:#000;
  margin-left: 5%;
  font-weight: bold;
}

.wrapper .sidebar .box{
  background-color: #fff;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wrapper .sidebar .num {
  margin-left: 5%;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: #ff7900
}

.wrapper .sidebar .unit {
  margin-bottom: 3rem;
  font-family: header-font;
  font-size: 1.5rem;
  line-height: 1;
  color: #d00300
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: white;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #ff7900;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .ss{
  position: absolute;
  bottom: 20%;
  left: 10px;
  right: 10px;
  /* transform: translateX(-50%); */
  display: flex;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 16%;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

.node{
  height: 480px;
  max-height: 480px; 
  overflow: auto;
}

@media only screen and (max-width: 1024px){
  .wrapper .main_content{
    margin-left: 150px;
  }
  #iotMap {
    height: 80vh;
  }
}


/* scroll css */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff7900; 
}