<div  class="mob"> 
    <h2 class="log-line">Did you forget your password ?</h2> 
        <div class="mob dis" style="display: flex">
        <!-- left side div --> 
        <div class="leftbox">
            <h3 class="text1">Enter your username or email address to reset your password.</h3>
            <!-- success alert -->
            <div class="alert alert-success alert-dismissible fade show" role="alert" id="alert" *ngIf="currDiv == 'nice'">
                <span class="alert-icon"><span class="visually-hidden">Success</span></span>
                <p>Your Password has been successfully changed,check your email for the new password !</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert"><span class="visually-hidden">Close</span></button>
            </div>
            <!-- end alert -->

            <form #userForm="ngForm" (ngSubmit)="resetpass('nice',user)">
                <div class="pt-4">
                    <label for="form-control-5" class="form-label is-required">Email or Username</label>
                    <input class="form-control" type="text" id="form-control-1"
                    [(ngModel)]="user.username" name="username"
                    #username="ngModel" required minlength="3">
                    <div  style="color: red" *ngIf="username.invalid && username.touched">
                        Required with min of 3 chars
                    </div>
                </div>
                <div class="pt-4">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>

        <!-- right side div --> 
        <div class="rightbox">
            <h3 class="text1">Already have an account? 
                <span class="text3"><br>Click the button below to log in.</span>
            </h3>
            <a class="btn btn-secondary" routerLink="/login">Log in</a>
        </div>
    </div>
</div>
