<div class="footer">
    <div class="">
        <div class="container-lg">
            <ul class="nav row">
                <li class="nav-item mb-2 mt-1 my-md-0 col-6 col-lg-auto d-lg-block">
                    <div class="nav-link px-0 pr-lg-2 disabled ">© Orange 2022</div></li>
                <li class="nav-item mb-2 mt-1 my-md-0 col-6 col-lg-auto">
                    <a class="nav-link px-0 px-lg-2 word" href="https://www.orange.tn/" >Orange.tn</a></li>
                <li class="nav-item mb-2 mt-1 my-md-0 col-6 col-lg-auto">
                    <a class="nav-link px-0 px-lg-2 word" target="_blank" href="https://www.fondationorange.com/">Orange Fondation</a></li>
                <li class="nav-item mb-2 mt-1 my-md-0 col-6 col-lg-auto">
                    <a class="nav-link px-0 px-lg-2 word" target="_blank" href="https://innovation.orange.tn/projet/orange-developer-center">Orange Developer Center</a></li>
            </ul>
        </div>
    </div>
</div>
