<div class="box mt-2">
  <h2 class="mt-4">New request</h2>
  
    <form #userForm="ngForm" (ngSubmit)="makeRequest(request)">
      <div style="display: flex;">

        <!-- form section -->
        <div style="width:50%">

            <div>
              <label for="exampleInputTitle" class="form-label is-required mt-3">Node title</label>
              <input type="text" class="form-control" id="exampleInputTitle"
              [(ngModel)]="request.title" name="title" placeholder="Node name to display on the map"
                #title="ngModel" required minlength="3">
                <div  style="color: red" *ngIf="title.invalid && title.touched">
                    Required & min 3 chars 
                </div>
            </div>
            <div>
                <label for="exampleInputMAC" class="form-label is-required mt-3">MAC address</label>
                <input type="text" class="form-control" id="exampleInputMAC"
                [(ngModel)]="request.MAC" name="MAC" placeholder="Node ID/MAC"
                  #MAC="ngModel" required minlength="3">
                  <div  style="color: red" *ngIf="MAC.invalid && MAC.touched">
                    Required & min 3 chars 
                </div>
              </div>

              <label for="exampleInputDescription" class="form-label is-required mt-3">Node description</label>
              <textarea class="form-control" id="exampleInputDescription"
              [(ngModel)]="request.desc" name="desc" placeholder="Node description to display on the map"
                #desc="ngModel" required minlength="10"></textarea>
                <div  style="color: red" *ngIf="desc.invalid && desc.touched">
                  Required & min 10 chars 
                </div>

                <label for="exampleInputLocation" class="form-label is-required mt-3">Node location</label>
                <input class="form-control" id="exampleInputLocation"
                [(ngModel)]="request.location" name="location" placeholder="exp: Lac1"
                  #location="ngModel" required minlength="3">
                  <div  style="color: red" *ngIf="location.invalid && location.touched">
                    Required & min 3 chars 
                </div>

            <div class="mb-3" style="display: flex;">
                <div style="width:48%">
                  <label for="exampleInputLatitude" class="form-label is-required mt-3">Latitude</label>
                  <input type="number" class="form-control" id="exampleInputLatitude"
                  [(ngModel)]="request.lat" name="lat"
                    #lat="ngModel" required min="-90" max="90" >
                    <div  style="color: red" *ngIf="lat.invalid && lat.touched">
                        Invalid
                    </div>
                </div>
                <div style="width:48%;margin-left: 4%;">
                    <label for="exampleInputLongitude" class="form-label is-required mt-3">Longitude</label>
                    <input type="number" class="form-control" id="exampleInputLongitude"
                    [(ngModel)]="request.long" name="long"
                      #long="ngModel" required min="-180" max="180">
                      <div  style="color: red" *ngIf="long.invalid && long.touched">
                        Invalid
                    </div>
                  </div>
              </div>

              <div class="pt-3">
                <button type="submit" class="btn btn-primary mb-5" style="width: 100%;"
                [disabled]="!userForm.valid">Add new request</button>
            </div>
          
        </div>


        <!-- map section -->
        <div style="width:49%;margin-left: 1%;">
          <label class="mb-1 mt-3">Please select Location for the node</label>

          <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
              integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
              crossorigin=""/>
          <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
          <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />
          <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
              integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
              crossorigin=""></script>
          <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
        
          <div id="map" style="height:400px"></div>
        </div>
      </div>

    </form>  
</div>