<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

      <!-- <div class="logo" style="display: flex" >
      <a class="navbar-brand" routerLink="/">
        <img src="../../../assets/trylogo.png " role="img" alt="logo" loading="lazy" style="width:50px;height:40px;">
      </a>
        <h3 class="logoname " routerLink="/">AirQuality</h3>
      </div> -->

      <a class="navbar-brand" routerLink="/">
        <img src="../../../assets/trylogo3.png " role="img" alt="logo" loading="lazy" style="width:200px;height:40px;">
      </a>


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/map">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/userlist">Forum</a>
          </li>
        </ul>


        <span class="navbar-text" style="margin-right: 50px;">
          <span class="navbar-text">
            <div class="nav-item dropdown">
              <a href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true" style="margin-left: 260px;">
                <a href="#" class="profile-solid icon"></a>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="border-color: #ff7900;margin-left: -25px;margin-top: 2px;">
                <div class="popin-frame" style="background-color: black;" ><br>
                  <h6 class="mb-2" style="color: white; margin-left: 10px;" >Do you have an account already ?&nbsp;&nbsp;&nbsp;</h6> &nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="button" class=" btn btn-primary loginbtn" routerLink="/login">LOGIN</button><br><br>
                  <button class="o-link-arrow-custom btn btn-link px-0" routerLink="/register"><br>
                    <p class="font-weight-bold p">Make a new account ></p><br>
                  </button>
                </div>
              </div>
            </div>
          </span>
        </span>


      </div>
    </div>
  </nav>

  