<div class="mob"> 
    <h2 class="log-line">By logging into your account <br> you can join our network easily.</h2> 
    <div class="mob dis" style="display: flex">
        <!-- left side div --> 
        <div class="leftbox">
            <h3 class="text1">Already have an account? <br> Welcome back</h3>
            <!-- fail alert -->
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert" *ngIf="currDiv == 'nice'">
                <span class="alert-icon"><span class="visually-hidden">Failed</span></span><p>{{alert}}</p>
            </div>
            <!-- end alert -->

            <form #userForm="ngForm" (ngSubmit)="login('nice',user)">
                <div class="pt-3 mb-3">
                <label for="exampleInputEmail1" class="form-label">Email or Username</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                [(ngModel)]="user.username" name="username"
                    #username="ngModel" required>
                </div>

                <div>
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1"
                [(ngModel)]="user.password" name="password"
                    #password="ngModel" required>
                </div>

                <p class="text2" routerLink="/resetPassword">Forgot account?</p>
                
                <div class="pt-1">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </form>
        </div>

        <!-- right side div --> 
        <div class="rightbox">
            <h3 class="text1">A new user? 
                <span class="text3"><br>Make your account right now.</span>
            </h3>
            <a class="btn btn-secondary" routerLink="/register">Register</a>
        </div>
    </div>
</div>
