@media only screen and (max-width: 960px) {
  .mob {
    display: flex;
    flex-direction:column;
  }

  .mob .dis{
      flex-direction:column;
  }

  .mob .log-line{
    margin-left: 10%;
  }

  .mob .leftbox{
    margin-left: 10%;
    width: 80%;
  }

  .mob .rightbox{
    margin-left: 10%;
    margin-bottom: 10em;
    width: 80%;
  }
}

.alert{
  width:96%;
}

.log-line{
  margin-top: 2%;
  margin-left: 16%;
}

.leftbox{
  background-color: white;
  margin-top: 2%;
  margin-left: 16%;
  padding-left: 1.6%;
  padding-top: 1.6%;
  padding-bottom: 3%;
  width: 33.33%;
  height: 23.4%;
}

.text1{
  color: #ff7900;
}

.text2{
  color: #999999;
  margin-top: 1%;
  font-size: 14px;
}

.text2:hover{
  cursor: pointer;
  text-decoration-line: underline;
}

.text3{
  color: #000;
  font-weight:normal;
  font-size: 15px;
}

.form-control{
  width: 60%;
}

.btn-primary{
  width: 60%;
}

.btn-secondary{
  width: 50%;
}

.rightbox{
  background-color: white;
  margin-top: 2%;
  margin-left: 1%;
  padding-left: 1.6%;
  padding-top: 1.6%;
  padding-bottom: 3%;
  width: 33.33%;
  height: 12.92%;
}